################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TodoApiDTO/bin/Debug/netcoreapp3.1
/TodoApiDTO/obj/Debug/netcoreapp3.1
/TodoApiDTO/obj
/TodoApiDTO.BLL/bin/Debug/netcoreapp3.1
/TodoApiDTO.BLL/obj/Debug/netcoreapp3.1
/TodoApiDTO.BLL/obj
/TodoApiDTO.DAL/bin/Debug/netcoreapp3.1
/TodoApiDTO.DAL/obj/Debug/netcoreapp3.1
/TodoApiDTO.DAL/obj
/TodoApiDTO.Shared/bin/Debug/netcoreapp3.1
/TodoApiDTO.Shared/obj/Debug/netcoreapp3.1
/TodoApiDTO.Shared/obj
