<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="On" internalLogFile="${CurrentDir}\..\temp\nlog-internal.log">
	<extensions>
	</extensions>

	<targets>
		<target xsi:type="File" name="logfile" fileName="${CurrentDir}\..\logs\${shortdate}.log"
		        layout="${longdate} ${threadid} ${level} ${message} ${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:maxInnerExceptionLevel=5}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Warn" writeTo="logfile" />
	</rules>
</nlog>